.close-button {
    position: absolute;
    top: 0;
    right: 0;
}
.box-img img {
    max-width: 330px;
    max-height: 330px;
    cursor: pointer;
}

#fullImageView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    text-align: center;
    #fullImage {
        display: block;
        height: auto;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }
    #closeButton {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;;
        color: #000;
        cursor: pointer;
    }
}
