<div class="relative flex min-w-0 flex-auto flex-col overflow-hidden">
   
    <!-- Header & Cards -->
    <div class="relative overflow-hidden px-1 pb-1 pt-8">
        <!-- Background -->
        <!-- prettier-ignore -->
        <svg class="-z-1 absolute inset-0"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Header -->
        <button mat-icon-button aria-label="close dialog" class="close-button" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <div class="flex flex-col items-center">
            <h2 class="text-xl font-semibold">PRICING</h2>

            <div
                class="text-secondary mt-3 text-center tracking-tight sm:text-2xl"
            >
                <div class="">{{"With "+_data.plan+" PLAN -> Start small and free, upgrade as you go."}}</div>
                <div class="">{{ plan.description }}</div>
            </div>
        </div>
        <!-- Card -->
        <!-- <div class="mt-10 flex justify-center sm:mt-20">
            <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
                <ngx-stripe-payment />
              </ngx-stripe-elements>
        </div> -->
        <div class="mt-5 flex justify-center">
            <fuse-card class="flex w-full flex-col rounded-none">
                <div class="p-1">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    <div id="dropIn"></div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>
