<div class="w-full bg-[#E9EBEF] flex flex-col items-center justify-center min-h-screen p-4">
  <h1 class="text-[40px] leading-[46px] font-semibold mb-[24px]">
    Wellcome to <span class="text-[#136EFB]">Jayda AI</span>
  </h1>
  <button class="bg-[#136EFB] text-white px-6 h-[60px] rounded-[10px] shadow-md hover:bg-blue-700 transition"
    (click)="openVehiclePopup()">
    New Vehicle
  </button>

  <!-- Vehicle Popup -->
  <app-vehicle *ngIf="showVehiclePopup" (close)="closeVehiclePopup()"></app-vehicle>
</div>