/* Optional Global CSS for layout */
html,
body,
#app {
    height: 100%;
}

.chat-box,
.reference {
    overflow-y: auto; /* Enable scroll for chat box when content overflows */
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px); /* Adjust the height dynamically */
    &.is-mobile {
        max-height: calc(100vh - 90px);
    }
}


.message.user {
    background-color: #e0f7fa;
    margin-left: auto;
}

.message.system {
    background-color: #c8e6c9;
    margin-right: auto;
}

form {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 10px 0;
}

#custom-tooltip {
    position: fixed;
    background: #222;
    color: #fff;
    padding: 10px 12px;
    border-radius: 6px;
    max-width: 350px;
    font-size: 14px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    white-space: pre-wrap;
}

@media screen and (max-width: 640px) {
    #custom-tooltip {
        display: none !important;
    }
}

//table
::ng-deep markdown table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d1d5db; /* gray-300 equivalent */
}

::ng-deep markdown th,
::ng-deep markdown td {
    border: 1px solid #d1d5db; /* adds border to all cells */
    padding: 8px 12px;
    text-align: left;
    padding-inline-start: 0.5714286em !important;
}

::ng-deep markdown thead {
    background-color: #f3f4f6; /* gray-100 */
}

::ng-deep markdown tr:nth-child(even) {
    background-color: #f9fafb; /* gray-50 */
}

::ng-deep markdown tr:nth-child(even) {
    background-color: #f9fafb; /* gray-50 */
}

::ng-deep markdown p {
    margin-top: 0 !important;
    margin-bottom: 12px !important;
}

::ng-deep .reference {
    li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}